<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/switch_learning/src/switch_learning/SwitchExercise.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="switch_learning.SwitchExercise"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="switch_learning"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="switch_learning"/>
</launchConfiguration>
